* {
	color: #3D3D3B;
	margin: 0;
	box-sizing: border-box;
	font-family: Gilroy-Regular;
}

@font-face {
	font-family: Gilroy-Regular;
	src: url('fonts/Gilroy-Regular.ttf');
}

button {
	cursor: pointer;
}

button:focus {
	outline: none;
}

h2 {
	font-size: 58px;
}

p {
	font-size: 18px;
}

.flex {
	display: flex;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

nav ul li {
	padding-right: 30px;
}

header {
	padding: 0 5vw;
	height: 96px;
	align-items: center;
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 999;
}

.anim {
	transform: translate(0px, 560px);
	transition: all .2s;
	opacity: 0;
}

.anim_end {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1s;
}

.btn_header {
	margin-left: auto;
}

.btn_header button, #modal_form button {
	width: 170px;
	height: 48px;
	background: #fff;
	border: 2px solid #FF7272;
	border-radius: 15px;
	color: #FF7272;
	font-weight: bold;
}

#modal_form button {
	margin: 0 auto;
	height: 35px;
	border: 1px solid #FF7272;
	border-radius: 13px;
	margin-top: 20px;
}

.banner, .about {
	height: 616px;
	align-items: center;
	padding: 0 5vw;
	background: #F0F0F0;
	justify-content: space-between;
}

.banner_desc {
	width: 60%;
}

.banner_img {
	align-self: flex-end;
}

.banner_img img {
	vertical-align: bottom;
}

h1 {
	font-size: 74px;
}

.banner_desc span {
	color: #FF7272;
}

.banner_desc p, .callback_desc p, .zakaz_desc p {
	padding: 30px 0;
}

.banner_desc button, .callback_desc button, .zakaz_desc button {
	width: 170px;
	height: 56px;
	background: #FF7272;
	border: none;
	border-radius: 15px;
	color: #fff;
	margin-top: 30px;
}

.banner_desc ul {
	margin-top: 30px;
	padding-left: 0;
	justify-content: space-around;
	font-size: 24px;
	font-weight: bold;
	color: #3D3D3B !important;
}

.price {
	padding: 80px 5vw;
}



.about h2 {
	padding-bottom: 30px;
}

.about {	
	padding-top: 120px;
	padding-bottom: 120px;
}

.about_desc {
	width: 50vw;
}

.callback, .zakaz_parts {
	background: #3D3D3B;
	justify-content: space-between;
	padding: 105px 5vw;
}

.callback_desc, .zakaz_desc {
	width: 50vw;
}

.callback_desc h2, .callback_desc p, .zakaz_desc h2, .zakaz_desc p, .advantages_block h4, .advantages_block p {
	color: #fff;
}

.advantages {
	text-align: center;
	padding: 80px 5vw;
}


/*    прайс  */
.ac-container {
    /*width: 400px;*/
    width: 100%;
    /*width: 70vw;*/
    margin: 10px auto 30px auto;
}

.ac-container label {
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    /*display: block;*/
    /*height: 30px;*/
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    /*background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);*/
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    transition: all .3s;
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input + label span i {
    /*transform: rotate(90deg);*/
    transition: all .3s;
}

.ac-container input:checked + label span i {
    transform: rotate(90deg);
    transition: all .3s;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
   /* box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);*/
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(http://netcribe.com/example/arrow_down.png) no-repeat center center;  
}

.ac-container input:checked + label:hover:after {
    background-image: url(http://netcribe.com/example/arrow_up.png);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
     -webkit-transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.6s linear;
    /*box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
    height: auto;
}

.ac-container article p {
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container article div {
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.fa-chevron-right {
	color: #FF7272;
}

.advantages h2 {
	margin-bottom: 30px;
}

.advantages_box {
	flex-direction: column;
	align-items: center;
}

.advantages_block {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 770px;
	height: 400px;
	border-radius: 20px;
	background: #FF7272;
	color: #fff;
	margin-bottom: 40px;
	padding: 0 100px;
}

.advantages_block h4 {
	font-size: 28px;
	margin: 15px 0;
}

.advantages_block:nth-child(1) {
	position: sticky;
	top: 150px;
	z-index: 10;
}

.advantages_block:nth-child(2) {
	position: sticky;
	top: 200px;
	z-index: 11;
	background: #3D3D3B;
}
.advantages_block:nth-child(3) {
	position: sticky;
	top: 250px;
	z-index: 12;
}
.advantages_block:nth-child(4) {
	position: sticky;
	top: 300px;
	z-index: 13;
	background: #3D3D3B;
}
.advantages_block:nth-child(5) {
	position: sticky;
	top: 350px;
	z-index: 14;
}
.advantages_block:nth-child(6) {
	position: sticky;
	top: 400px;
	z-index: 15;
	background: #3D3D3B;
}

footer {
	justify-content: space-between;
	padding: 2vw 5vw;
	align-items: center;
	background: #F0F0F0;
}

footer ul {
	padding-left: 0;
}

.modal_back {
	height: 100vh;
	width: 100vw;
	/*opacity: .5;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0, 0, 0, .6);
	transition: all .5s;
}

#modal_form {
	position: relative;
	flex-direction: column;
	width: 350px;
	padding: 35px 25px;
	background: rgba(74, 74, 74, 0.9);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 200px;
}

#modal_form input {
	background: #ccc;
	border-radius: 10px;
	border: none;
	margin-bottom: 20px;
	height: 28px;
	padding-left: 10px;
	font-size: 16px;
}

#modal_form input:focus {
	outline: none;
}

#close {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 19px;
	font-weight: bold;
	transition: all .5s;
	transform: rotate(0deg);
}

#close:hover {
	transition: all .5s;
	transform: rotate(180deg);
}

#modal_form h6 {
	text-align: center;
	color: #fff;
	font-size: 24px;
	margin-bottom: 15px;
}





@media screen and (max-width: 1280px) {
	h1 {
		font-size: 54px;
	}

	h2 {
		font-size: 46px;
	}

	.btn_header button {
		width: 150px;
	}

	.banner_img img, .about_img img {
		width: 300px;
	}

	.banner, .about {
		height: 516px;
	}

	/*.about_img img {
		width: 250px;
	}
*/
	.callback_img img {
		width: 220px;
	}

	.callback, .zakaz_parts {
	    padding: 70px 5vw;
	}

	.zakaz_img img {
		width: 320px;
	}
}

@media (max-width: 780px) {

	nav {
		display: none;
	}

	.btn_header button {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		color: #fff;
		background: #FF7272;
		font-size: 8px;
		padding: 0;
	}

	.banner_desc {
	    width: 100%;
	}

	.banner_img {
		display: none;
	}

	.banner_desc ul {
		flex-direction: column;
	}

	.about_img img {
		margin-top: 30px;
	}

	p {
		font-size: 16px;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 38px;
	}

	.banner, .about, footer {	
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.banner, .about, .callback, .zakaz_parts, footer {
		flex-direction: column;
		height: auto;
		text-align: center;
	}

	.price h2 {
		text-align: center;
	}

	.callback_desc, .zakaz_desc {
	    width: 100%;
	}

	.callback_img img  {
		width: 60%;
		margin-top: 30px;
	}

	.zakaz_img img  {
		width: 60%;
		margin-bottom: 30px;
	}

	.advantages_block {
	    width: 100%;
	    height: auto;
	    padding: 20px;
	}
	
	footer {	
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer_logo {
		margin-bottom: 20px;
	}

	.banner_desc button, .callback_desc button, .zakaz_desc button {
	    width: 100%;
	}
}